body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;

  background: #c31432;  /* fallback for old browsers */
background-image: url('../src/Components/darkBlurAbstract.jpg');
background-repeat: no-repeat;
background-size: cover;  
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  color: white;
  
}
html {
  height:100%;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.canvas{
  margin-top: 400px;
}
.threeDimensionalFrame{
  position: relative;
  bottom: 270px;
  transform: scale(1,1);
}


.donut{
  position: relative;


  z-index: 30;
  overflow: hidden;
}

.chartLegend{
overflow: hidden;
position: relative;

}
.actualChart{

  padding-bottom: 40px;
  position: relative;
  bottom: 40px;
 
  
  left: -5px;

}
.donut__firstLegend{
  padding-left: 4px;
  background-color:rgb(90, 151, 197);
}

.donut__secondLegend{
  padding-left: 4px;
  background-color: rgb(12, 187, 120);


}

.donut__thirdLegend{
  padding-left: 4px;
  background-color: rgb(248, 186, 29);
}

.PieChart__threeObject{
  background-color: red;
  position: relative;
  bottom: 300px;
}